<div class="row">
    <div class="col-md-4">
        <img src="{{item.image}}" height="300" width="300" />
    </div>
    <div class="col-md-6">
        {{item.name}}
    </div>
    <div class="col-md-2">
        {{item.price}}
    </div>
</div>
<br />
<h2>Informationen über den Verkäufer</h2>
<div class="row">
    <img src="{{user.image}}" height="48" width="48"/>
    <span>{{user.name}}</span>
    <br>
    <img src="/img/star.png" height="25" width="25" ng-repeat="i in [] | range: user.rating" />
</div>