<div class="row">
    <label class="col-md-6">Username</label>
    <input class="col-md-6" type="text" />
</div>
<div class="row">
    <label class="col-md-6">Passwort</label>
    <input type="password" />
</div>
<div class="row">
    <span class="col-md-9" />
    <input type="button" class="btn col-md-3"  value="Login"/>
</div>