<div class="row">
    <input type="search" class="form-input col-md-9" placeholder="Suche" ng-model="search" />
    <a ui-sref="search({search})" type="button" class="btn peachbg col-md-3">Suche</a> 
</div>