<div class="row">
    <input type="search" class="form-input col-md-9" placeholder="Suche" ng-model="search" />
    <a ui-sref="search({search})" type="button" class="btn peachbg col-md-3">Suche</a> 
</div>
<div ng-repeat="item in items" style=" margin-top: 20px">
    <div style="border: 1px solid lightgrey; background: whitesmoke; height: 250px;">
        <a ui-sref="details({itemId: item.id})">
            <img src="{{item.image}}" class="col-md-3" height="180" width="150" style="margin-top: 30px" />
            <div class="col-md-9">
                <span class="col-md-3">{{item.price}}</span>
                <div class="col-md-6"></div>
                <div class="col-md-3">
                    <img src="{{userService.getUser(item.user).image}}" height="48" width="48"/>
                    <span>{{userService.getUser(item.user).name}}</span>
                    <br>
                    <img src="/img/star.png" height="25" width="25" ng-repeat="i in [] | range: userService.getUser(item.user).rating" />
                </div>
                <br>
                <span class="col-md-12">{{item.name}}</span>
            </div>
        </a>
    </div> 
</div>