﻿
.row {
    margin-bottom: 0;
}

/*[class*="col-"] [class*="col-"] {
    background-color: transparent;
    border: none;
    padding-bottom: 0;
    padding-top: 0;
}*/

[class*="col-"] {
    /*padding-bottom: 15px;*/
    /*padding-top: 15px;*/

}

.description {
    color:black;
}

.nobg {
    background-color: transparent;
    border: none;
}

.box {
    min-height: 150px;    
}

.white {
    background-color: white;
}

.blue {
    background-color: rgb(111,174,228);
    border: 20px rgb(111,174,228);

}

body {
    background: url("../img/background.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

input[type=number] { 
    -moz-appearance:textfield;
    min-width: 2.5em;
}

#content {
    /*margin-top: 5em;*/
}

.breadcrumb {
    background:none;
}

.cursor-pointer {
    cursor:pointer;
}

.place-right {
    float:right;
}

.color-green {
    color:green;
}

.color-red {
    color:red;
}

.badge-notify{
   background:red;
   position:relative;
   top: -20px;
   left: -5px;
}

.blue .description {
    color: white;
}

.peach{
    color: rgb(255, 192, 0)    
}

.peachbg{
    background-color: rgb(255, 192, 0);
    color: dimgray;
}
